<%= form_for(@advertisement) do |f| %>
  <% if @advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
      <% @advertisement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :ad_banner, "Acceptable sizes: 728x90 or 468x60" %><br />
		<%= f.file_field :ad_banner %>	
		<div class="preview"></div>
	</div><br />
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div><br />
  <div class="field">
    <%= f.label :destination_url %><br />
    <%= f.url_field :destination_url %>
  </div><br />
  <div class="field">
	<%= f.label :keyword %>
	<%= select_tag :keyword_id,  options_for_select(AdMan::Keyword.available.collect { |keyword| [keyword.name, keyword.id]})%>
	<% if AdMan::Keyword.unavailable.count > 0%>
	<p><b><%= AdMan::Keyword.unavailable.collect { |keyword| keyword.name } %></b> keyword has allready been used 5 times.</p>
	<% end %>
  </div><br />
	<!--
  <div class="field">
		<#%= f.label :priority %>
		<#%= select_tag :priority, options_for_select(1..10) %>
	</div><br />
	-->
	<div class="field">
		<%= f.label :start_date %><br />
		<%= date_select("advertisement", "start_date") %>
	</div><br />
	<div class="field">
		<%=f.label :end_date %><br />
		<!--
		<#% TODO : end date should be 30 days plus %> -->
		<%= date_select("advertisement", "end_date") %> 
	</div><br />


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$('input[type=file]').change(handleFileSelect);
</script>
