<h1>Current Advertisements</h1>
<div>
<div>
<% if !@advertisements.blank? %>
	<table>
		<tr>
			<th>title</th>
			<th>image</th>
			<th>destination url</th>
		</tr>
	<% @advertisements.each do |advertisement| %>
	 	<tr>
   		<td><%= link_to advertisement.title, advertisement %></td>
			<td><%= link_to image_tag(advertisement.ad_banner.url(:banner)), advertisement %> </td>
			<td><%= advertisement.destination_url%></td>
  	</tr>
	<% end %>
</table>
<% else %>
	<h3>You don't have any advertisements yet, why don't you create one:</h3>
<% end %>
<!-- Paginate Advertisements -- uncomment
	<#%= will_paginate @advertisements %>
-->
	<li style="display:inline;">
		<ul><%= button_to 'New', new_advertisement_path, :method => :get %></ul>
	</li>

</div >

<div>

<h2>Current Keywords</h2>
<% if !@keywords.nil? %>
	<ul><h3>
		<% @keywords.each do |keyword| %>
		<li><%= link_to keyword.name, keyword %>(<%= keyword.number_of_ads %>)</li>
		<% end %>
	</h3></ul>
<% end %>
</div>
<div style="clear:;"></div>

</div>


