<p id="notice"><%= notice %></p>

<h2><%= @advertisement.title %></h2>

<div style="margin-left:10px;">
<p>
  <b>Leaderboard: &nbsp;&nbsp;728x90</b><br/>
	<%= image_tag @advertisement.ad_banner.url(:leaderboard) %>
	<br/><br/>
	<b>Banner: &nbsp;&nbsp;468x60</b><br/>
	<%= image_tag @advertisement.ad_banner.url(:banner) %><br/>
</p>
<p>
<b>Keyword:</b>
	<%= link_to @advertisement.keyword.name, @advertisement.keyword %>	
</p> 
<p>
	<b>Page Views:</b>
	<%= @advertisement.display_count %>
</p> 
<p>
	<b>Clicks:</b>
	<%= @advertisement.click_count %>
</p>
<p>
	<b>File Size:</b>
	<%= number_to_human_size(@advertisement.ad_banner.size) %>
</p>
<p>
  <b>Destination url:</b>
  <%= link_to @advertisement.destination_url, @advertisement.destination_url %>
</p>
</div>
<div style="display:inline-block;">
	<%= link_to 'Edit', edit_advertisement_path(@advertisement), :method => :get %>
	<%= link_to "Destroy", @advertisement, :method => :delete,
    :data => { :confirm => "Deleting Advertisement, this cannot be undone. Please confirm."}, :style => "color:#b94a48"%>
	<%= link_to 'Back', advertisements_path, :method => :get %>
</div>
