<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "ad_man/advertisements.js" %>
	
	<script>
	// showAd(keyword)
	<% if AdMan::Keyword.first %>
		showAd('<%= AdMan::Keyword.first.name %>'); //
	<% end %>
	</script>
	
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to_ad %>
<hr/>

<%= yield %>


<div id="advertisement"></div>
</body>
</html>
