<p id="notice"><%= notice %></p>

<h1>Keyword: <%= @keyword %></h1>

<div style="margin-left:10px; display:block;">
<div id="ads" style="display:inline-block; vertical-align:top;">
	<table>
		<% @advertisements.each do |advertisement| %>
			<tr>
				<td><%= link_to advertisement.title, advertisement %></td>
				<td><%= advertisement.destination_url%></td>
			</tr>
			<tr>
				<td colspan="2"><%= link_to image_tag(advertisement.ad_banner.url(:banner)), advertisement %></td>
			</tr>
		<% end %>
	</table>
</div>

<div id="keywords" style="display:inline-block;margin-left:20px;">
<%= link_to "All Advertisements", advertisements_path %><br/><br/>
<%= button_to "New Advertisement", new_advertisement_path, :method => :get %>
<h2>Current Keywords</h2>
<ul><h3>
		<% @keywords.each do |keyword| %>
			<li><%= link_to keyword.name, keyword %>(<%= keyword.number_of_ads %>)</li>
		<% end %>
	</h3>
</div>
<div style="clear:;"></div>
</div>
<br/>

<div style="display:inline-block;">
	<%= link_to 'Edit Keyword', edit_keyword_path(@keyword), :method => :get %>
	<%= link_to "Destroy", @keyword, :method => :delete,
				:confirm => "Deleting Keyword, this cannot be undone.  WARNING: This will delete all advertisements connected with this keyword.  Please confirm.", :style => "color:#b94a48"%>
	<%= link_to 'Back', advertisements_path, :method => :get %>
</div>
