<!DOCTYPE html>
<html>
<head>
  <title>AdMan</title>
  <%= stylesheet_link_tag    "ad_man/application", :media => "all" %>
  <%= javascript_include_tag "ad_man/application" %>
	<%= javascript_include_tag "ad_man/advertisements.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
